/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(77, 77, 77);
  color: rgb(172, 202, 229);
}

.container {
  max-width: 400px;
  height: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  transition: 0.2s;
}

.inputBox input:focus,
.inputBox select:focus {
  border-bottom: 1px solid #666;
}

.inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #999;
  pointer-events: none;
      transition: 0.2s;
}

input[type="submit"],
button {
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  text-align: center;
}

a {
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
